* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(./asset/sandro-gonzalez-dBEJG6hv224-unsplash.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    justify-content: center;
    text-align: center;
}

.container {
    text-align: center;
    font-size: 20px;
    margin-top: 5%;
}

h1 {
    font-size: 70px;
    text-transform: uppercase;
    color: white;
    font-family: Poppins;
    filter: drop-shadow(5px 8px 2px black);

}

h2 {
    color: white;
    font-size: 60px;
    font-family: Poppins;
    filter: drop-shadow(5px 8px 2px black);

}

h3 {
    font-family: poppins;
    font-size: 2rem;
    color: white;
    filter: drop-shadow(5px 8px 2px black);

}

.wrapper {
    font-size: 40px;
    /* color: aqua; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.wrappercontent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-left: 22px;
}

audio {
    display: block;
}

@media(max-width:450px) {
    h2 {
        color: white;
        font-size: 2rem;
        font-family: Poppins;
    }

    h3 {
        font-family: poppins;
        font-size: 1rem;
        color: white;

    }

    .wrappercontent {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        margin-right: 1rem;
    }


}